<div class="container">
<h1>About</h1>
<p>This page is for the beer drinkers of the world. People who prefer quality over quantity. Because Good people drink good beer. Remember that the road less traveled is a road paved with mystery and adventure. Finally remember my friends yesterday is history, tomorrow's a mystery, but today is a gift. That is why they call it the present. Drink Good.-Skumps</p>
</div>
