<!-- show.html.erb -->
<div class="container">
  <h2><%= @user.name %></h2>
  <%= image_tag @user.pic_url %>
  <div class="container">
      <h3>Favorites</h3>
      <ul>
    <% @user.craft_beers.each do |beer| %>
      <li><%= beer.name %></li>
    <% end %>
    </ul>
  </div>
</div>

