<!-- footer.html.erb -->
<footer class="footer">
  <div class="container">
    <% if current_user %>
      <%= link_to "Main", main_path %>
      <%= link_to "User Index", users_path %>
      <%= link_to "The List", craft_beers_path %>
    <% else %>
      <p>Drink any good beer lately?</p>
        <% end %>
  </div>
</footer>
