<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="2"></th>
  </tr>

  <% @beers.each do |beer| %>
  <tr>
     <td><%= beer.name %></td>
      <% end %>
</table>
