<h1>The List</h1>
<p>This is what we got so far...</p>

<ul>
  <% @beers.each do |beer| %>
  <!-- <li><%= beer.name %></li> -->
  <li><%= link_to beer.name, craft_beer_path(beer) %></li>
  <% end %>
</ul>

<div>
  <%= link_to "User Index", users_path %>
</div>
<div>
  <%= link_to "Main", main_path %>
</div>


