<h1>The List</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Brewer</th>
    <th colspan="2"></th>
  </tr>

  <% @beers.each do |beer| %>
  <tr>
  <td><%= beer.name %></td>
  <td><%= beer.brewery %>
  </tr>
  <% end %>
</table>


